In [96]:
import pandas as pd
import numpy as np
df = pd.read_csv('HistoricalResults.csv')
df.drop(['date','tournament','city','country','neutral'], axis=1, inplace=True)
df.dropna(inplace=True)
df_new = pd.DataFrame(df[['away_team','home_team','away_score','home_score']])
df = df.append(df_new)

C:\Users\prern\AppData\Local\Temp\ipykernel_123224\3093723197.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_new)

In [97]:
home = df['home_score'].values
away = df['away_score'].values
result = []
for i in range(df.shape[0]):
    if home[i] == away[i]:
        result.append('draw')
    elif home[i] > away[i]:
        result.append('win')
    else:
        result.append('loss')
df['result'] = result
df

        home_team away_team  home_score  away_score result
0        Scotland   England         0.0         0.0   draw
1         England  Scotland         4.0         2.0    win
2        Scotland   England         2.0         1.0    win
3         England  Scotland         2.0         2.0   draw
4        Scotland   England         3.0         0.0    win
...           ...       ...         ...         ...    ...
44197     Tunisia    France         1.0         0.0    win
44198       Japan     Spain         2.0         1.0    win
44199  Costa Rica   Germany         2.0         4.0   loss
44200     Croatia   Belgium         0.0         0.0   draw
44201      Canada   Morocco         1.0         2.0   loss

[88404 rows x 5 columns]

In [103]:
win_df = df[df.home_team == 'Germany']
win = win_df['result'].value_counts()['win']
win_pct = win/win_df.shape[0]
win_pct

0.6216730038022814